*{
    box-sizing: border-box
}

body{
    font-family: "League Spartan", sans-serif;
    margin:0;
}


p, h1, h2, h3, h4, h5, div {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
}

p {
    font-family: "Outfit", sans-serif;
}


.header-hero{
    min-height:100vh;
    background-image: url(../assets/hero-img.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.dark-accent{
    color: #E16C96;
}

.header-nav{
    display: flex;
}


/* TYPOGRAPHY */

.uppercase{
    text-transform: uppercase;
}

.outfit, .btn, .footer-pages-list-wrapper{
    font-family: "Outfit", sans-serif;
}

.league{
    font-family: "League Spartan", sans-serif;
}

.header-nav-list-item a{
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.header-nav-list-item{
    list-style: none;
    padding: 0;
}

.header-logo, .header-logo-text{
    font-size:3rem;
    font-family: "Kanit", sans-serif;
    
}

.header-nav{
    position: fixed;
    left: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #E16C96;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(0);
    transition: transform 250ms;

}

.open-nav{
    transform: translateX(-100%);

}

.header-nav-list-left, .header-nav-list-right {
    padding: 0;
    margin: 0;
}

.menu-link{
    transition: color 300ms;
}

.menu-link:hover, .menu-link:focus{
    color: #565280;
}



.header-logo-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #565280;
}

.close-btn-wrapper{
    height:1em;
    width:1em;
    border: 4px dashed white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:3rem;
    cursor: pointer;
}

.close-nav-btn{
    padding: 0;
}
.close-btn-wrapper:hover{
    border: 4px dashed rgb(215, 215, 215);
    color: rgb(215, 215, 215);
}

.header-nav-list-left, .header-nav-list-right{
    padding-left:1em;
}

.menu-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(244, 22%, 41%);
    padding: .5em 3em;
    /* background-color: hsla(244, 22%, 41%, 0.5); */
}

.open-nav-wrapper{
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px dashed white;
    cursor: pointer;
}


.mobile-nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(244, 22%, 41%);
    padding: 0 1em;
    height: 100px;
    margin-bottom:1em;
}
.open-nav-wrapper:hover{
    border: 4px dashed rgb(215, 215, 215);
    color: rgb(215, 215, 215);
}

.hamburger-icon{
    font-size:2rem;
    margin-top:-4px;
    padding:0;
}